.explore-form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.explore-container > h2 {
  padding: 1rem;
  color: #77b1f0;
  text-align: center;
  transform: translateX(-30px);
  color: var(--font-color);
}
.explore-input {
  width: 320px;
  padding: 12px;
  margin: 15px 0;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
  text-align: center;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.explore-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
  outline: none;
}

.explore-button {
  padding: 12px 20px;
  background-color: var(--primary-color);
  color: var(--font-color);
  font-size: 16px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.explore-button:hover {
  background-color: #0056b3;
  box-shadow: 0 4px 10px rgba(0, 91, 187, 0.3);
}

.explore-button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
