.movie-card-wrapper {
  position: relative;
}
.movie-card {
  flex: 0 0 auto;
  scroll-snap-align: start;
  background: none;
  border: none;
  box-shadow: none;
}

.movie-card-image {
  width: 200px;
  border-radius: 8px;
  border: 2px solid transparent;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    border-color 0.3s ease;
  display: block;
}

.movie-card-image:hover {
  transform: scale(1.07);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
  border-color: var(--primary-color);
}
.movie-card-link {
  text-decoration: none;
  color: inherit;
}

.movie-card-wrapper {
  position: relative;
  display: inline-block;
}
.movie-card-icons {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  gap: 6px;
  z-index: 10;
}
.icon {
  font-size: 15px;
  color: #bbb;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 1px;
  border-radius: 50%;
  cursor: pointer;
}
.icon:hover {
  background: rgba(0, 0, 0, 0.6);
  transform: scale(1.1);
}

.movies-grid .movie-card-title {
  display: block;
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
