:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #131520;
  --font-color: #ffffff;
  --font-family: "Inter", sans-serif;
  --padding: 1rem;
}
.light-theme {
  --background-color: #ffffff;
  --font-color: #131520;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body {
  font-family: var(--font-family);
  font-size: 16px;
  background-color: var(--background-color);
  color: var(--font-color);
  line-height: 1.6;
}

.movie-details-container,
.favorites-page,
.watchlist-page,
.explore-container,
.not-found-container {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  margin: 0 auto;
}
.main-content {
  flex: 1;
  width: 100%;
  margin: 0 auto;
  max-width: 1600px;
  padding: 0;
}
